.search{
    height: 40px;
    width: 1200px;
    margin-top: 20px;
    color: coral
}
input::placeholder {
    color: coral; 
 font-size: 20px;

  }
 
  input:hover{
    border-color: chocolate;
  }
  